/*Holaa! voy creando un archivo CSS para tenerlo en el repo*/


  h1 {
    display:flex;
    justify-content:center;
  }

  h3 {
    display:flex;
    justify-content:center;
  }


.row {
  display:grid;
  display:flex;
  justify-content:center;
  width: 250px;
  border: 4px solid rgb(63, 16, 16);
}

ul {
  list-style-type: none;
  margin: 15px;
  padding: 10px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:  rgb(197, 95, 95);
}

#grid {
  display:grid;
  grid-template-columns: 30% 30% auto;
  grid-template-rows: 50% auto 50%;
  justify-items: center;
}

#barra {
  background-color: rgb(224, 172, 172);
}