/*Holaa! voy creando un archivo CSS para tenerlo en el repo*/


  h1 {
    display:flex;
    justify-content:center;
  }

  h3 {
    display:flex;
    justify-content:center;
  }



ul {
  list-style-type: none;
  margin: 15px;
  padding: 10px;
  overflow: hidden;
}

.row {
  display:grid;
  display:flex;
  justify-content: space-around;
  width: 250px;
  border: 2px solid rgb(236, 182, 182);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:  rgb(219, 153, 153);
}

#barra {
  background-color: rgb(224, 172, 172);
}

.centrotexto {
  display:flex;
  justify-content:center;
}


img {
  width:50px;
  height:50px;
  display:flex;
  justify-content:center;
}

.columnas {
  padding: 15px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 40px;
  -moz-column-gap: 100px;
  column-gap: 40px;
  display:flex;
  justify-content: space-between;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.colorfont {
  background-color:  rgb(219, 153, 153);
  
}

#grid {
  display:grid;
  grid-template-columns: 30% 30% auto;
  grid-template-rows: 50% auto 50%;
  justify-items: center;
}