/*Holaa! voy creando un archivo CSS para tenerlo en el repo*/

body {
  display:flex;
  justify-content:center;
  flex-direction:column;
  font-style: normal;}

  .fondogeneral {
    font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal; 
  background-color:#ffffff;

}


section tarjetasgeneral {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.titulogeneral1 {
  color:#F9AFAF;
}

h1 {
  display:flex;
  justify-content:center;
}

.introbjetivo p{
  color: rgb(0, 0, 0);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
 }

p {
  color: rgb(0, 0, 0);
}


.tarjetitas {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:row;
    width: 900px;
    padding: 50px;
    margin: 10px;
    cursor: pointer;
}

.tarjetitas a {
  text-decoration: none;
}

.cardAA {
  background-color: #f0f0f0; /* Color de fondo de la tarjeta */
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Para que la imagen no sobresalga */
  position: relative; /* Para posicionar el contenido */
  width: 200px; /* Ajusta el ancho según tus necesidades */
  transition: transform 0.3s ease-in-out;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.cardAA img {
  width: 100%;
  height: 150px; /* Ajusta la altura según tu imagen */
  object-fit: cover; /* Para que la imagen se ajuste al contenedor */
}

.card-contentAA button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.card-contentAA a {
  text-decoration: none;
  color: #F16BAE;
}

.cardAB {
  background-color: #f0f0f0; /* Color de fondo de la tarjeta */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Para que la imagen no sobresalga */
  position: relative; /* Para posicionar el contenido */
  width: 200px; /* Ajusta el ancho según tus necesidades */
}

.cardAB img {
  width: 100%;
  height: 150px; /* Ajusta la altura según tu imagen */
  object-fit: cover; /* Para que la imagen se ajuste al contenedor */
}

.card-contentAB button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  text-align: center;
  text-decoration: none;
}

.card-contentAB a {
  text-decoration: none;
  color: #004AAD;
}

.cardAC {
  background-color: #f0f0f0; /* Color de fondo de la tarjeta */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Para que la imagen no sobresalga */
  position: relative; /* Para posicionar el contenido */
  width: 200px; /* Ajusta el ancho según tus necesidades */
}

.cardAC img {
  width: 100%;
  height: 150px; /* Ajusta la altura según tu imagen */
  object-fit: cover; /* Para que la imagen se ajuste al contenedor */
}

.card-contentAC button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  text-align: center;
}

.card-contentAC a {
  text-decoration: none;
  color: #000000;
}

.cardAD {
  background-color: #f0f0f0; /* Color de fondo de la tarjeta */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Para que la imagen no sobresalga */
  position: relative; /* Para posicionar el contenido */
  width: 200px; /* Ajusta el ancho según tus necesidades */
}

.cardAD img {
  width: 100%;
  height: 150px; /* Ajusta la altura según tu imagen */
  object-fit: cover; /* Para que la imagen se ajuste al contenedor */
}

.card-contentAD button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  text-align: center;
}

.card-contentAD a {
  text-decoration: none;
  color: #585C86;
}



/*carrousel*/

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
}

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.slides-container {
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slide:nth-child(1) {
  background-color: #004AAD;
}
.slide:nth-child(2) {
  background-color: #b03532;
}

.slide:nth-child(3) {
  background-color: #6a478f;
  margin: 0;
}

.slide:nth-child(4) {
  background-color: #da6f2b;
}

.imagenfacu img{
  align-items: center;
  height: 350px;
  justify-content: center;
  display: flexbox;
}


                                           /*Fin pag principlal*/