/*Holaa! voy creando un archivo CSS para tenerlo en el repo*/

body{
  display:flex;
  justify-content:center;
  flex-direction:column;
  font-family: Helvetica;
  color:rgb(20, 27, 92);
  }

  .fondogeneral {
   background-color: rgb(179, 132, 235);
}


h1 {
  display:flex;
  justify-content:center;
}

.introbjetivo p{
  color: rgb(196, 196, 196);
 }

p {
  color: rgb(180, 180, 180);
}

.tarjetitas {
    display:flex;
    flex-direction:row;
    width: 900px;
    border: 5px solid rgb(9, 8, 56);
    padding: 50px;
    margin: 10px;
    
}

body{
    display:flex;
    justify-content:center;
    flex-direction:column;
    color:rgb(20, 27, 92);
    }

.fondoazul {
    background-color:rgb(20, 27, 92);
}

.noti1 h3 {
  color: #191616;
  text-align: left;
}

  h1 {
    display:flex;
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 200;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;

  }

.parrafo1 {
color: gray;
text-align: left;
}

.parrafo2 {
  color: gray;
  text-align: left;
}

.not1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textonot1 {
  flex: 1;
}

.imagennot1 {
  width: 30%;
}

.not2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textonot2 {
  flex: 1;
}

.imagennot2 {
  width: 30%;
}

.botonmas button a{
  color: #000000;
  align-items: center;
  text-decoration: none;
}

.publicar-experiencia {
  background-color: #ffffff; /* Ajusta el color según tu diseño */
  color: white;
  text-align: center;
  padding: 20px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    
}

.boton-instagram {
  display: inline-block;
  background-color: #7289DA; /* Color del botón Discord */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  align-items: center;
}

.boton-instagram img {
  width: 50px; /* Ajusta el tamaño del icono */
  margin-right: 5px;
}


.boton-instagram:hover {
  background-color: #6441A5; /* Cambia el color al pasar el mouse */
}

.boton-classrom {
  display: inline-block;
  background-color: #7289DA; /* Color del botón Discord */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.boton-classrom img {
  width: 50px; /* Ajusta el tamaño del icono */
  margin-right: 5px;
}

.publicar-experiencia {
  /* ... */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.boton-classrom:hover {
  background-color: #6441A5; /* Cambia el color al pasar el mouse */
}

.calistoga-regular{
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.headerpag3 h1 {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.title3A h1 {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

ul {
  list-style-type: none;
  margin: 15px;
  padding: 10px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:  rgb(219, 153, 153);
}

#barra {
  background-color: rgb(224, 172, 172);
}
