/*Holaa! voy creando un archivo CSS para tenerlo en el repo*/

body{
  display:flex;
  justify-content:center;
  flex-direction:column;
  font-family: Helvetica;
  color:rgb(20, 27, 92);
  background: url(imagenes3/fondogeneral.jpg);
  }

  ul {
    list-style-type: none;
    margin: 15px;
    padding: 10px;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  h1 {
    display:flex;
    justify-content:center;
  }
  
  li a:hover {
    background-color:  rgb(219, 153, 153);
  }

  #barra {
    background-color: rgb(224, 172, 172);
  }

  .header4 header {
    align-items: left;
    text-align: left;
  }

  header{
    text-align: left;
    align-items: left;
  }
  .chatestudiantil {
    align-items: center;
    text-align: center;
  }

  .t1ce {
    color: black;
    
  }

  .videopag4 {
    text-align: center;
  }