/*Estilo de la página principal*/

body {
  display:flex;
  justify-content:center;
  flex-direction:column;
  color:rgb(20, 27, 92);
  font-style: normal;
  background-image: url("imagenes3/fondogeneral.jpg");
}

  .fondogeneral {
    font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal; 

}

section tarjetasgeneral {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

/*Para el título "Inserción facultativa"*/

h1 {
  display:flex;
  justify-content:center;
}
h4 {
  display:flex;
  justify-content:center;
}


/*Para el texto sobre el objetivo de la página*/

.introbjetivo p{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
 }



.tarjetitas {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:row;
    width: 900px;
    padding: 50px;
    margin: 10px;
    cursor: pointer;
}

.tarjetitas a {
  text-decoration: none;
}

footer {
  background-color:#F16BAE;
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
}

body {
  display:flex;
  justify-content:center;
  flex-direction:column;
  font-style: normal;}

  .fondogeneral {
    font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal; 
  background-color:rgb(255, 255, 255);

}

section tarjetasgeneral {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

/*Para el título "Inserción facultativa"*/
header {
  background-color: rgb(20, 27, 92);
  margin: 0%;
  padding: 0%;
  text-align: center;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.titulogeneral1 {
  color: #ffffff;
  font-family: "Cinzel", system-ui;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  display:flex;
  justify-content:center;
}

/*Para el texto sobre el objetivo de la página*/

.introbjetivo p{
  color: rgb(89, 88, 88);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
 }


.tarjetitas {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:row;
    width: 900px;
    padding: 50px;
    margin: 10px;
    cursor: pointer;
}

.tarjetitas a {
  text-decoration: none;
}

.cardAA {
  background-color: #f0f0f0; /* Color de fondo de la tarjeta */
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Para que la imagen no sobresalga */
  position: relative; /* Para posicionar el contenido */
  width: 200px; /* Ajusta el ancho según tus necesidades */
  transition: transform 0.3s ease-in-out;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.cardAA img {
  width: 100%;
  height: 150px; /* Ajusta la altura según tu imagen */
  object-fit: cover; /* Para que la imagen se ajuste al contenedor */
}

.card-contentAA button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.card-contentAA a {
  text-decoration: none;
  color: #F16BAE;
}

.cardAA:hover{
  transform: translateY(-10px); /* Mover la tarjeta 10px hacia arriba */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Agregar una sombra */

}

.cardAB {
  background-color: #f0f0f0; /* Color de fondo de la tarjeta */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Para que la imagen no sobresalga */
  position: relative; /* Para posicionar el contenido */
  width: 200px; /* Ajusta el ancho según tus necesidades */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.cardAB img {
  width: 100%;
  height: 150px; /* Ajusta la altura según tu imagen */
  object-fit: cover; /* Para que la imagen se ajuste al contenedor */
}

.card-contentAB button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  text-align: center;
  text-decoration: none;
}

.card-contentAB a {
  text-decoration: none;
  color: #004AAD;
}

.cardAB:hover{
  transform: translateY(-10px); /* Mover la tarjeta 10px hacia arriba */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Agregar una sombra */

}

.cardAC {
  background-color: #f0f0f0; /* Color de fondo de la tarjeta */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Para que la imagen no sobresalga */
  position: relative; /* Para posicionar el contenido */
  width: 200px; /* Ajusta el ancho según tus necesidades */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}

.cardAC img {
  width: 100%;
  height: 150px; /* Ajusta la altura según tu imagen */
  object-fit: cover; /* Para que la imagen se ajuste al contenedor */
}

.card-contentAC button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  text-align: center;
}

.card-contentAC a {
  text-decoration: none;
  color: #000000;
}
.cardAC:hover{
  transform: translateY(-10px); /* Mover la tarjeta 10px hacia arriba */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Agregar una sombra */

}

.cardAD {
  background-color: #f0f0f0; /* Color de fondo de la tarjeta */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Para que la imagen no sobresalga */
  position: relative; /* Para posicionar el contenido */
  width: 200px; /* Ajusta el ancho según tus necesidades */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}

.cardAD img {
  width: 100%;
  height: 150px; /* Ajusta la altura según tu imagen */
  object-fit: cover; /* Para que la imagen se ajuste al contenedor */
}

.card-contentAD button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  text-align: center;
}

.card-contentAD a {
  text-decoration: none;
  color: #585C86;
} 

.cardAD:hover{
  transform: translateY(-10px); /* Mover la tarjeta 10px hacia arriba */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Agregar una sombra */

}

footer {
  background-color: #f28eb2; /* Ajusta el tono de rosa */
  color: #ffff;
  text-align: center;
  padding: 20px;
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
}




* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
}

#imagenfacu img {
  display: flex;
  margin: auto;
  height:350px;
  width:700px;
} 

#contenido {
  width: 60%;
  margin-bottom: 20px;
  background-color: #ffffff solid;
  height: 1250px;
  padding:20px;
  padding-top:20px;

}

.centrado {
  display:flex;
  justify-content:center;
  margin-top:50px;
}

button {
  color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 0 0 rgba(145, 64, 240, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5) ;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-items: center;
}
button a {
text-decoration: none;
color: #000000;
border-radius: 40px;
box-shadow: 0 0 0 0 rgba(145, 64, 240, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5) ;
transition: transform 0.3s ease, box-shadow 0.3s ease;
align-items: center;
}

button::after {
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background: #c983da;
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  z-index: -1;
  transition: transform 0.5s ease;
} 

button :hover {
  transform:  translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(16, 226, 253, 0.5), -10px 10px 25px 0 rgba(183, 0, 255, 0.7);

}

button:hover::after {
  transform: rotate(150deg);
}

#Carrusel {
  width:500px;
  height:200px;
}

p {
  display:flex;
  justify-content:center;
}
                                           /*Fin pag principlal*/
